.Products {
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;

    background-color: #232427;



}

.product-list {
    padding-top: 5rem;
}




.vertical-line {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 24%;
    bottom: 0;
    left: 50%;
    width: 2px; // Ancho de la línea
    background-color: #18E5FF; // Color de la línea
    transform: translateX(-50%);
    margin-top: 5rem;


}

.dots {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: -3%;
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);


    .dot {
        border-radius: 100%;
        border: 2px solid white;
        padding: 0.5rem;
        color: #18E5FF
    }

}

.PrTittle {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    padding: 9rem;
    padding-bottom: 3rem;

}